.DS_Store
Thumbs.db

.vscode/
.idea/

__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/
*.log
db.sqlite3
media/
staticfiles/

.env
.env.*

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

docker-data/
*.log